@model HuangWeb.Models.TryInfoViewModel

<h2>收到Information对象</h2>
<p>InValue=@Model.IntValue</p>
<p>StringValue=@Model.StringValue</p>
<p>datetime=@Model.Datetime.ToString()</p>

<div>
    @Html.ActionLink("返回", "Index")
</div>